@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --contexify-menu-bgColor: #292a2d;
  --contexify-separator-color: #4c4c4c;
  --contexify-item-color: #fff;
  --contexify-activeItem-color: #fff;
  --contexify-activeItem-bgColor: #3265b7;
  --contexify-rightSlot-color: #6f6e77;
  --contexify-activeRightSlot-color: #fff;
  --contexify-arrow-color: #6f6e77;
  --contexify-activeArrow-color: #fff;
  --contexify-menu-radius: 4px;
}

.contexify{
  border: 1px solid #53585d;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,body,#root{
  height: 100%;
}
body{
  padding: 0!important;
}

#app{
  height: 100vh;
  overflow: hidden;
  background: #1e1e1e;
}

.ant-tree{
  background:none!important;
  .ant-tree-list{
    .ant-tree-list-holder{
      .ant-tree-treenode{
        width: 100%;
        display: flex!important;
        align-items: center!important;
        &:hover{
          background: #4b4b4b!important;
        }
        &.ant-tree-treenode-selected{
          background: #4b4b4b!important;
        }
        .ant-tree-node-selected{
          background:none!important;
          border: none!important;
          box-shadow: none!important;
          opacity: 1!important;
        }
        .ant-tree-switcher{
          background-image: none!important;
          background-position: initial;
          display: flex;
          align-items: center;
        }
        .ant-tree-node-content-wrapper{
          display: flex;
          align-items: center;
          .ant-tree-iconEle{
            display: flex;
            align-items: center;
          }
        }
        .ant-tree-node-content-wrapper{
          display: flex;
          flex: 1;
          padding-left: 4px!important;
          .ant-tree-title{
            display: flex;
            flex: 1;
          }
        }
      }
    }
  }
  .ant-tree-checkbox-disabled .ant-tree-checkbox-inner{
    border-color: rgba(255,255,255,.6);
  }
  .ant-tree-checkbox-disabled .ant-tree-checkbox-inner:after{
    border-color: rgba(255,255,255,.6);
  }
}

.tippy-popper{
  pointer-events: auto!important;
  .tippy-tooltip{
    background-color: #262626!important;
    .arrow-regular{
      border-bottom-color: #262626!important;
    }
    div[x-circle]{
      background-color: #262626!important;
    }
  }
}